pipeline/TestPipeline.json
{
	"name": "TestPipeline",
	"properties": {
		"activities": [
			{
				"name": "CopyFiles",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 1,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"sink": {
						"type": "JsonSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "JsonWriteSettings"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "MockData",
						"type": "DatasetReference",
						"parameters": {
							"folder_location": {
								"value": "@pipeline().parameters.input_folder_location",
								"type": "Expression"
							},
							"file_name": {
								"value": "@pipeline().parameters.file_name",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "MockData",
						"type": "DatasetReference",
						"parameters": {
							"folder_location": {
								"value": "@pipeline().parameters.output_folder_location",
								"type": "Expression"
							},
							"file_name": {
								"value": "@pipeline().parameters.file_name",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "CheckIfFileCopied",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "CopyFiles",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@activity('CopyFiles').output.pipelineReturnValue",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "SendErrorMail",
							"type": "AzureFunctionActivity",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"method": "GET"
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "TransformData",
							"description": "To transform data using pyspark script",
							"type": "DatabricksNotebook",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebookPath": "/Repos/odl_user_1012254@simplilearnss.onmicrosoft.com/ADFDemo/ParseJson",
								"baseParameters": {
									"staginglocation": {
										"value": "@concat(pipeline().parameters.output_folder_location,'/',pipeline().parameters.file_name)",
										"type": "Expression"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "AzureDatabricks1",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "SendSuccessEmail",
							"type": "AzureFunctionActivity",
							"dependsOn": [
								{
									"activity": "TransformData",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": []
						}
					]
				}
			}
		],
		"parameters": {
			"input_folder_location": {
				"type": "string"
			},
			"file_name": {
				"type": "string"
			},
			"output_folder_location": {
				"type": "string"
			}
		},
		"annotations": []
	}
}